	.landing.l2017 .slider{
		background-image: url(../img/fondohogar.png);
	}	

    .landing.l2017 .slider2{
        background-image: url(../img/backLandingPagCansado.png);
    }

	.title2 {
    font-size: 12px;
    font-family: 'Museo-500';
    color: #fff;
    margin: 2px 5px 0;
    line-height: 24px;
    float: left;
}

.landingPage .logoLP .col-md-4{
    background-color: #FFF;
}

.landingPage .logoLP img{
    display: block;
    height: auto;
    float: left;
    width: auto;
}

@media (min-width: 720px){
	.landing.l2017 .slider{
		 background-image: url(../img/backLandingPag.png);
	}	

    .landing.l2017 .slider2{
        background-image: url(../img/backLandingPagCansado.png);
    }

        .title2 {
    font-size: 21px;
    font-family: 'Museo-500';
    color: #fff;
    margin: 0 30px;
    line-height: 100px;
    float: left;
}

    .landingPage .logoLP img{
    display: block;
    height: 100px;
    float: left;
    width: auto;
}
 
} 