

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*Fuentes*/   

@font-face {
    font-family: 'Museo-300';
    src: url('../fonts/Museo-300.eot');
    src: url('../fonts/Museo-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Museo-300.woff') format('woff'),
        url('../fonts/Museo-300.ttf')  format('truetype'),
        url('../fonts/Museo-300.svg#Museo-300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo-500';
    src: url('../fonts/Museo-500.eot');
    src: url('../fonts/Museo-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Museo-500.woff') format('woff'),
        url('../fonts/Museo-500.ttf')  format('truetype'),
        url('../fonts/Museo-500.svg#Museo-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Thin.eot');
    src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeue-Thin.ttf')  format('truetype'),
        url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Light.eot');
    src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Light.woff') format('woff'),
        url('../fonts/HelveticaNeue-Light.ttf')  format('truetype'),
        url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Medium.eot');
    src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'),
        url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'),
        url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-1di9h');
  src:url('../fonts/icomoon.eot?#iefix-1di9h') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?-1di9h') format('truetype'),
    url('../fonts/icomoon.woff?-1di9h') format('woff'),
    url('../fonts/icomoon.svg?-1di9h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'merikicons';
    src:    url('../fonts/merikicons.eot?3x8b0j');
    src:    url('../fonts/merikicons.eot?3x8b0j#iefix') format('embedded-opentype'),
        url('../fonts/merikicons.ttf?3x8b0j') format('truetype'),
        url('../fonts/merikicons.woff?3x8b0j') format('woff'),
        url('../fonts/merikicons.svg?3x8b0j#merikicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'merikicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mexico:before {
    content: "\e900";
}
.icon-home:before {
    content: "\e901";
}
.icon-mail:before {
    content: "\e902";
}

.centerLP{
  width:90%;
  margin-left: 5%;
}

.distribuidoresLP{
  padding-bottom: 60px !important;
}

.distribuidoresLP h1.bloquesLP{
  margin-top: 30px;
  font-size: 22px;
}

.distribuidoresLP h1.bloquesLP a:hover{
  text-decoration: none;
  color: #085f70;
}

.bloquesLP{
  border-top: 1px dashed #085f70;
  text-align: left;
  padding-top: 15px;
}

.bloquesLP.sin{
  border-top: none;
}

.comodidad .title, .compruebalo .title{
      position: relative;
    background-color: rgba(0,95,113,1);
    width: 100%;
    top: 0;
    padding: 30px 15px;
    text-align: center;
    font-family: 'Museo-500';
    color: #FFF;
    font-size: 1.5em;
    border-bottom: 3px solid #ffcc33;
}

@media (min-width: 768px){
  .centerLP{
    width: 50%;
    margin-left: 25%;
  	text-transform: none;
}

.bloquesLP{
  border-top: 1px dashed #085f70;
  text-align: left;
      padding-top: 30px;
}

.bloquesLP.sin{
  border-top: none;
}

.distribuidoresLP h1.bloquesLP{
  font-size: 24px;
  text-transform: none;
}
}


[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover{
  color: transparent;
}

@media (min-width: 768px){

a:hover{
  color: #085F70;
}

}

a:focus, a:active{
  border: none;
  outline: none;
}

.icon-industrial:before {
  font-family: 'icomoon';
  content: "\e601";
}
.icon-autotransporte:before {
  font-family: 'icomoon';
  content: "\e600";
}
.icon-residencial:before {
  font-family: 'icomoon';
  content: "\e602";
}

.navbar-brand, .navbar-nav>li>a{
  text-shadow: none;
}
.navbar-default .navbar-nav>.open>a.dropdown-toggle{
  color: rgba(0,95,113,1);
}

br{
  display: none;
}

@media (min-width: 768px){

br{
  display: inherit;
}

  .navbar-default .navbar-nav>.open>a.dropdown-toggle{
    color: #FFF
  }
}

.navbar-default .navbar-nav>.open>a:hover{
  border-bottom: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
  background-color: transparent;
  background-image: none;
}

.productos .navbar-default .navbar-nav>.open>a, 
.productos .navbar-default .navbar-nav>.open>a:hover, 
.productos .navbar-default .navbar-nav>.open>a:focus{
  color: inherit;
}

@media (min-width: 768px){
  .productos .navbar-default .navbar-nav>.open>a, 
  .productos .navbar-default .navbar-nav>.open>a:hover, 
  .productos .navbar-default .navbar-nav>.open>a:focus{
    color: #FFF;
  }  
}


.dropdown-menu{
  background-color: rgba(0,95,113,.7);
  top: 80%;
}



header{
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding-bottom: 10px;
  background-color: rgba(0,95,113,.6);
  top: 0;
}

.comodidad header,
.compruebalo header{
  position: relative;
  height: auto;
  overflow: hidden;
  padding-bottom: 0px;
}

@media only screen and (min-width: 992px){
  header{
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 78px;
    position: fixed;
    width: 100%;
    z-index: 99;
    padding-bottom: 10px;
    background-color: rgba(0,95,113,.6);
    top: 0;
  }
}

@media only screen and (min-width:1382px){
  header{
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 108px;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding-bottom: 10px;
  background-color: rgba(0,95,113,.6);
  top: 0;
}
}


body.productos{
  overflow-x: hidden;
}


body.secciones{
  padding-top: 0px;
}

@media (min-width: 768px){
  body.secciones{
    padding-top: 200px;
  }
}

.container {
  padding-left: 0;
  padding-right: 0;
}


@media (min-width: 767px){
.container {
    padding-left: 15px;
    padding-right: 15px;
} 
}


@media (min-width: 1200px){
.container {
    width: 1024px;
} 
}

body{
  font-family: 'HelveticaNeue';
    font-size: 16px;
    font-weight: 300;
    color: #666;
    background-color: #f0f0f0;
}

.h1{
  font-family: 'Museo-300';
  font-size: 2.1em;
  color: #085F70;
}

.h3{
  font-family: 'Museo-300';
  font-size: 1.9em;
}

.wrap{
    overflow: hidden;
}

i.fa{
    font-size: 1.2em;
}

header .search{
  position: relative;
}

header .search 

header .contact,
header .search{
  display: none;
}

.logo{
    margin-top: 10px;
}

    .logo img{
        display:block;
        margin: 0 auto;
        width: 50%;
        height: auto;
    }

    .logo a{
      display: block;
    }

.navbarLogo img{
    width: 45%;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -22%;
    top: 13px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){

.backgroundsize .cbp-bislideshow li img.visible-xs{
  display: none !important;
}
  .navbarLogo img{
    width: 25%;
    left: 50%;
    margin-left: -12.5%;
  }
}


nav.navbar{
    position: fixed;
    z-index: 99;
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-top: 0px;
    width: 100%;
    
}

.navbar-toggle{
  float: left;
  margin-left: 20px;
  border: none;
  margin-top: 20px;
}


.productos .navbar-collapse{
  background-color: transparent;
}

.navbar-collapse.in .nav li{
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.navbar-collapse .nav li:first-child{
  border-top: none;
}

.navbar-form.visible-xs{
  text-align: center;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #FFF;
}

@media (min-width: 420px) and (max-width: 767px){
  .logo{
    margin-top: 10px;
}

    .logo img{
        display:block;
        margin: 0 auto;
        width: 25%;
        height: auto;
    }
}

@media (min-width: 768px) {

.navbar-collapse .nav li{
  border-bottom: 0px;
}

header .contact,
header .search{
  display: block;
}

.contact, .search{
    margin-top: 40px;
    color:#085F70;
}

body header .contact, 
body header .search{
    color:#FFF;
}
 
.contact{
    text-align: left
}
    .contact span{
        margin-left: 10px;
        font-family: 'Museo-300';
        font-size: .8em;
    }

.search{
    text-align: right
}


.logo{
    margin-top: 10px;
}

    .logo img{
        display:block;
        margin: 0 auto;
        width: 60%;
    }

    .logo a{

    }
.nav-arrows{
  position: absolute;
  height: 80px;
  top: 50%;
  margin-top: 0;
  width: 100%;

}


nav{
    font-family: 'Museo-500';
    font-size: 1em;
    text-transform: uppercase;
    color:#085F70;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav.navbar{
    position: fixed;
    z-index: 99;
    background-image: inherit;
    background-color: rgba(0,95,113,.6);
    border-bottom: solid #ffcc33 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 70px;
    height: auto;
}
}

.logoLP img{}

@media (min-width: 992px) and (max-width: 1382px){

.logo{
    margin-top: 14px;
}

    .logo img{
        display:block;
        margin: 0 auto;
        width: 80%;
    }

}

@media (min-width: 992px){
  nav.navbar{
    top: 78px;
  }
}


@media only screen and (min-width: 1382px) {

nav.navbar{
    position: fixed;
    z-index: 99;
    background-image: inherit;
    background-color: rgba(0,95,113,.6);
    border-bottom: solid #ffcc33 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 108px;
    height: auto;
}

.logo{
    margin-top: 30px;
}

    .logo img{
        display:block;
        margin: 0 auto;
        width: auto;
    }

}

.dropdown-menu li a{
  padding: 8px 20px;
}

.dropdown-menu>li>a{
  color: #FFF;
}


nav a,
.navbar-default .navbar-nav>li>a{
    color:rgba(0,95,113,1);
    line-height: auto;
}

.dropdown-menu{
  min-height: 100px;
  font-size: .8em;
}

@media (min-width: 768px){
nav a,
.navbar-default .navbar-nav>li>a{
    color:#FFF;
    line-height: auto;
}  
}

nav a:hover, nav a:active,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active{
    color:inherit;
    background-color: inherit;
    border-bottom: none;
}

.minicontact a:hover{
  background-color: transparent;
  border-bottom: none;
}

@media (min-width: 1200px){
nav a,
.navbar-default .navbar-nav>li>a{
    color:#FFF;
    line-height: 74px;

}

.dropdown-menu{
  min-height: 100px;
  font-size: 1em;
}


nav a:hover, 
.navbar-default .navbar-nav>li>a:hover{
    color:#FFF;
    border-bottom: 5px solid #ffca33;
}

nav a:active,
.navbar-default .navbar-nav>li>a:active
{
  color: #FFF;
}
}




.sidebar{
  position: absolute;
  background-color: #f0f0f0;
  padding: 1.2em 1.2em 0 1.2em;
}

.sidebar ul{
  font-size: 1.2em;
  list-style: none;
  padding-left: 5px;
  margin-left: 0;
  width: 100%;
}

.sidebar ul li:first-child{
  border-top: 1px solid #FFF;
}

.sidebar ul li{
  padding: .3em 0;
  border-bottom: 1px solid #FFF;
}

@media (min-width: 768px) and (max-width: 1386px){
  .sidebar ul li{
    padding: 0;
  }
}

.is_stuck{
  -webkit-transition: all .8s easeOutExpo;
  -o-transition: all .8s easeOutExpo;
  transition: all .8s easeOutExpo;
}


.fixSidebar{
  position: fixed;
  z-index: 8;
  top: 195px !important;
}

body.productos nav a,
body.productos .navbar-default .navbar-nav>li>a{
    
    background-color: transparent;
}


.minicontact,
.minisearch{
    display: none;
}

.navbar-collapse.in{
    background-color: #FFF;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
}

@media (min-width: 768px){
  .logoSmall{
    display: block;
    left: -50%;
    position: absolute;
    top: 14px;
}

.minicontact, .minisearch{
  display: block;
}

.minicontact {
    position: absolute;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    top:0px;
    right:-50%;
}

.minisearch{
    position: absolute;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    top:0px;
    right:-50%;

}
}

.navbar-nav li.Contacto{
  display: block;
}

section .container .col-xs-12{
  padding-left: 30px;
  padding-right: 30px;
}

section.scroll{
  padding-top: 60px;
}

.scrollFullpage{
  overflow-x: hidden; 
}

@media (min-width: 768px){

section.scroll{
  padding-top: 0px;
}

.scrollFullpage{
  overflow: initial;
}

.navbar-nav li.Contacto{
  display: none;
}

.navbar-default{
    background-image: none;
    background-color: transparent;
    border:0 none;
    border-radius:0;
    box-shadow: none;
    position:relative;
    z-index: 1;
}

.productos header{
    border-bottom: none;
}

.productos .navbar.navbar-default{
    
    border-top: none;
}


.navbar-nav{
    height: 44px;
    display: inline;
    width: 100%;
    text-align: center;
}

.navbar{
    min-height: 44px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    /*line-height: 78px;   */ 
    z-index: 999;
    background-color: #FFF;
}

.navbar-nav>li {
    display: inline-block;
    float: none;
}

.navbar-nav>li:last-child{
  display: none;
}

.nav>li>a{
        padding: 0 20px;
        font-size: 1em;
}

section .container .col-xs-12{
  padding-left: 15px;
  padding-right: 15px;
}
}

@media (min-width: 992px){

.navbar-nav{
    height: 78px;
}

.navbar{
    min-height: 78px;
}
}

@media (min-width: 768px) and (max-width: 1199px){
  .nav>li>a{
    padding: 10px 10px;
    font-size: .8em;
  }
}

@media (min-width: 1200px;){
  .nav>li>a{
    padding: 10px 20px;
    font-size: 1em;
  }
}

p strong{
    font-weight: bold;
    color:#085F70;
}

h1, h2, h3, h4{
    font-family: 'Museo-300';
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

a{
  color: #085F70;
}

i.fa-chevron-circle-down{
    position: absolute;
    bottom: 140px;
    left: 50%;
    z-index: 5;
    font-size: 2em;
    -webkit-animation-iteration-count: 5;
    -o-animation-iteration-count: 5;
    animation-iteration-count: 5;
    color: #ffcc33;
    margin-left:-13px;
}
i.fa-chevron-circle-down.LP{
    
    bottom: 40px;
    right: 5%;
    left: inherit;
}

.comodidad i.fa-chevron-circle-down.LP,
.compruebalo i.fa-chevron-circle-down.LP{
    
    bottom: 30px;
    right: 50%;
    margin-right: -13px;
    left: inherit;
}

i.fa-chevron-circle-down.posible{
    position: absolute;
    bottom: 20px;
    left: inherit;
    right: 20px;
    z-index: 5;
    font-size: 2em;
    -webkit-animation-iteration-count: 5;
    -o-animation-iteration-count: 5;
    animation-iteration-count: 5;
    margin-left:-13px;
}

i.fa-chevron-circle-down.nuevos{
    position: absolute;
    bottom: 20px;
    left: inherit;
    right: 20px;
    z-index: 5;
    font-size: 2em;
    -webkit-animation-iteration-count: 5;
    -o-animation-iteration-count: 5;
    animation-iteration-count: 5;
    margin-left:-13px;
}

i.fa-chevron-circle-up.tohome{
    position: absolute;
    bottom: 20px;
    left: inherit;
    right: 20px;
    z-index: 5;
    font-size: 2em;
    color: #ffcc33;
    -webkit-animation-iteration-count: 5;
    -o-animation-iteration-count: 5;
    animation-iteration-count: 5;
    margin-left:-13px;
}

.totop{
  position: fixed;
}

,
body.home .totop.visible-xs{
  position: absolute;
}

@media (min-width: 768px){
body.home .totop.visible-xs{
  position: fixed;
}  
}

body.home .totop{
  position: absolute;
}

i.fa-chevron-circle-up.totop{
    bottom: 20px;
    left: inherit;
    right: 20px;
    z-index: 5;
    font-size: 2.5em;
    -webkit-animation-iteration-count: 5;
    -o-animation-iteration-count: 5;
    animation-iteration-count: 5;
    margin-left:-13px;
    color: #ffcc33;
    cursor: pointer;
    display: none;
}

.container.slider, .container.slider2{
  height: 100%;
  position: relative;
  margin-top: 0px;
}
.contenedorSlider{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px){

.container.slider, .container.slider2{
  height: 490px;
  margin-top: 0;
}

.contenedorSlider{
  position: relative;
  width: auto;
  height: auto;
}
}


.contenedorSlider .swiper-button-next{
  right: -40px;
}

.contenedorSlider .swiper-button-prev{
  left: -40px;
}

.contenedorSlider .swiper-pagination-bullet-active{
  background-color: #FFF;
}

.swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        margin-right: 0;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide h2{
      position: absolute;
      color: #FFF;
      width: 100%;
      padding: 0.4em;
      top: inherit;
      bottom: 20px;
      text-align: left;
      font-size: 1.4em;
      line-height: 1em;
      margin: 0;
    }

    .swiper-slide h2.residencial{
      background-color: #00B5AD;
    }

    .swiper-slide h2.industrial{
      background-color: #00b4ee;
    }

    .swiper-slide h2.autotransporte{
      background-color: #92c100;
    }

    .sectionRESIDENCIAL{
      margin: .5em 0 1em;
      color: #00b5ad;
      font-family: 'Museo-300';
      font-size: 1.5em;
    }
    .sectionINDUSTRIAL{
      margin: .5em 0 1em;
      color: #00b4ee;
      font-family: 'Museo-300';
      font-size: 1.5em;
    }
    .sectionAUTOTRASPORTE,
    .sectionAUTOTRANSPORTE{
      margin: .5em 0 1em;
      color: #92c100;
      font-family: 'Museo-300';
      font-size: 1.5em;
    }


    .swiper-slide .intro{
      position: absolute;
      padding: 1.2em;
      background-color: rgba(0,0,0,.5);
      color: #FFF;
      width: 100%;
      top: inherit;
      bottom: 70px;
      text-align: left;
      font-weight: 100;
      line-height: 1.4em;
      font-size: 0.9em;
    }

    .swiper-pagination{
      display: none;
    }

@media (min-width: 768px){

  .swiper-slide h2{
      position: absolute;
      background-color: #00B5AD;
      color: #FFF;
      width: 50%;
      padding: 0.4em;
      top: 1em;
      bottom: inherit;
      text-align: left;
      font-size: 1.4em;
      line-height: 1.4em;
      margin-top: 20px;
      margin-bottom: 10px;
    }

  .swiper-slide .intro{
      width: 50%;
      top: 6em;
      bottom: inherit;
      line-height: 1.6em;
      font-size: 1em;
  }

  .swiper-pagination{
    display: block;
  }
}    

.banner{
    height: 87px;
    position:relative;
    z-index: 0;
    background-position: 100%
}
.banner.Fixed{
  height: 87px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0s; /* Safari */
  transition: all 0s;
}

@media (min-width:768px){

.banner{
    height: 206px;
    position:relative;
    z-index: 0;
    background-position: 100%
}
.banner.Fixed{
  height: 206px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  -webkit-transition: all 0s; /* Safari */
  transition: all 0s;
}
}

#showmenu{
    position: absolute;
    top: 8px;
    width: 50px;
    z-index: 8;
    right: 0px;
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
}

#hidemenu{
    position: absolute;
    top: 0px;
    font-size: 22px;
    left: 0px;
    width: 38px;
    z-index: 8;
    padding-top: 8px;
    background-color: #ccc;
    padding-left: 10px;
    height: 45px;
}

.liston{
    height:17px;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity:.7;
}

body.RESIDENCIAL .liston{
background-color: #00b5ad;
}
body.INDUSTRIAL .liston{
background-color: #00b4ee;
    }    
body.AUTOTRANSPORTE .liston, body.AUTOTRASPORTE .liston {
background-color: #92c100;
}

.productos .banner{    
    background-size: cover;
}

.landingPage{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 710px;
}

.landing .form-group.captcha{
  min-height: 60px;
}

.landing .form-group.proveedor{
  display: none;
}

.landingPage .slider, .landingPage .slider2{
  background-color:transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 50% 0px;
  background-size: cover;
  top: 0;
  bottom: 0;
}

.comodidad .background.odidad,
.compruebalo .background.odidad{
  margin-top: 0px;
}

.imgComodidad{
  width: 100%;
}

.comodidad .landingPage .title,
.compruebalo .landingPage .title{
      background-color: rgba(0,95,113,1);
}

.comodidad .landingPage .slider,
.compruebalo .landingPage .slider{
  background-image: url(../img/comodidad.png);
  background-color:transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center 153px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
}

.landingPage .title{
  position: absolute;
  background-color: rgba(0,95,113,.6);
  width: 100%;
  top: 0;
  padding: 30px 0;
  text-align: center;
  font-family: 'Museo-500';
  color: #FFF;
  font-size: 2em;
  border-bottom: 3px solid #ffcc33;
}

.comodiddad .title{
  position: absolute;
  background-color: rgba(0,95,113,.6);
  width: 100%;
  top: 0;
  padding: 30px 0;
  text-align: center;
  font-family: 'Museo-500';
  color: #FFF;
  font-size: 2em;
  border-bottom: 3px solid #ffcc33;
}

.landingPage .logoLP{
  position: absolute;
  background-color: rgba(0,95,113,.6);
  width: 100%;
  bottom: 0;
  padding:  0;
  border-top: #ffcc33 solid 3px;
}

.landingPage .logoLP h2{
  color: #FFF;
  font-size: 1.1em;
}

.landingPage .logoLP img{
  /*margin: auto;*/
  display: block;
  width: 50%;
  height: auto;
}



@media (min-width: 768px){

.comodidad .background.odidad,
.compruebalo .background.odidad{
  margin-top: 153px;
}

  .landingPage .title{
  position: absolute;
  background-color: rgba(50, 116, 121, 0.91);
  width: 100%;
  top: 0;
  padding: 15px 0;
  text-align: center;
  font-family: 'Museo-500';
  color: #FFF;
  font-size: 24px;
  border-bottom: 3px solid #ffcc33;
}

  .comodidad .title,
  .compruebalo .title{
  position: absolute;
  background-color: rgba(0,95,113,1);
  width: 100%;
  top: 0;
  padding: 30px 0;
  text-align: center;
  font-family: 'Museo-500';
  color: #FFF;
  font-size: 2em;
  border-bottom: 3px solid #ffcc33;
}

.comodidad .landingPage,
.compruebalo .landingPage{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 784px;
}

.landingPage .logoLP img{
  /*margin: auto;*/
  display: block;
  width: auto;
  height: 100px;
}

.landingPage .logoLP h2{
  color: #FFF;
  font-size: 30px;
  margin: 0px 50px;
  line-height: 100px;
}

}

.title2{
    font-size: 24px;
    font-family: 'Museo-500';
    color: #fff;
    margin: 0 30px;
    line-height: 100px;
}

.productos.RESIDENCIAL .banner{
  background-image: url(../img/residencial.jpg);}
/*.productos.INDUSTRIAL .banner{
  background-image: url(../img/industrial.jpg);}
.productos.AUTOTRASPORTE .banner,
.productos.AUTOTRANSPORTE .banner{
  background-image: url(../img/autotransporte.jpg);}*/

.productList{
  background-color: #FFF;
  padding-left: 0;
  padding-right: 0;
}

.productList .product{
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding-left: 0;
    padding-right: 0;
}

.col-md-4.product{
    padding-left: 0;
    padding-right: 0;
}

.breadcrumbs{
    padding: 1em 0 1em 30px;
    border-bottom: 2px solid #f0f0f0;
    font-size: .7em;
    font-weight: bold;
    color: #085F70;
    text-transform: uppercase;

    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 3;
    background: #f0f0f0;
    top: 103px;
}

.submenuMobile{
    position: fixed;
    width: 100%;
    top: 70px;
    z-index: 4;
}


.breadcrumbs span.arrow{
    margin: 0 10px;
    font-weight: 300;
}

.breadcrumbs span.actual,
.breadcrumbs span.actual a{
    color: #ffca33;
}

@media (min-width: 768px){

.breadcrumbs{
    padding: 2em 1em 2em 2.5em;
    border-bottom: 2px solid #f0f0f0;
    font-weight: bold;
    color: #085F70;
    font-size: 1em;
    text-transform: uppercase;

    position: relative;
    width: 100%;
    height: inherit;
    z-index: inherit;
    background:transparent;
    top: inherit;
}


.breadcrumbs span.arrow{
    margin: 0 10px;
    font-weight: 300;
}

.breadcrumbs span.actual,
.breadcrumbs span.actual a{
    color: #ffca33;
}  
}

section{
  position: relative;
}

section[data-section-name="home"],
section[data-section-name="redesSociales"]
{
    background-color: #FFF;
}

section[data-section-name="redesSociales"]{
  padding-bottom: 30px;
}

section[data-section-name="news"]{
    background-color: #FFF;
    padding-top: 100px;
}


section[data-section-name="merik"]{
  background-color: #F0F0F0;
  padding-top: 70px;
}

@media (min-width: 768px){
  section[data-section-name="merik"]{
    padding-top: 170px;
  }
  section[data-section-name="news"]{
    background-color: #FFF;
    
}

section[data-section-name="quienesSomos"]{
  background-color: #F0F0F0;
    padding-top: 70px;
    padding-bottom: 50px;
}



section[data-section-name="ida"],
section[data-section-name="noticias"],
section[data-section-name="privacidad"]
{
  padding-bottom: 50px;
}

section[data-section-name="distribuidores"],
section[data-section-name="sucursales"]{
  padding-bottom: 0;
}
}

@media (min-width: 992px) and (max-width: 1386px){
  section[data-section-name="quienesSomos"]{
    padding-top: 0px;
  }
}

@media (min-width: 1382px){
  section[data-section-name="quienesSomos"]{
  padding-top: 20px;
}
}


section[data-section-name="tipos"]{
  border-top: 0px solid #085f70;
  background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

section[data-section-name="tipos"] h4{
  text-align: left;
  font-size: 1.6em;
}

section[data-section-name="tipos"] .row{
  border-bottom: 1px solid #666666;
  padding-bottom: 40px;
  margin-top: 40px; 
}

section[data-section-name="tipos"] .row .socios{
  background-color: #f0f0f0;
  margin-top: 20px;
  padding: 25px;
}

.socios h5{
  color: #006072;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: 'Museo-300';
}

.socios ul{
  list-style: none;
  font-weight: bold;
}

section[data-section-name="tipos"] .row:last-child{
  border-bottom: 0;
}

section[data-section-name="tipos"] .row img{
  border-bottom: 3px solid #ffcc33; 
  margin-bottom: 15px;
}

section[data-section-name="merik"] .detalle,
section[data-section-name="quienesSomos"] .detalle,
section[data-section-name="ida"] .detalle{
    background-image: url(../img/detail-down.png);
    background-position: 50%;
    background-repeat: no-repeat;
    height:55px;
    width:100%;
    margin-top:50px;
    -webkit-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
    display: none;
}


section[data-section-name="buscar"]{
  background-color: #FFF;
  padding-bottom: 50px;
}

section[data-section-name="buscar"] .categoria{
  border-bottom: 1px solid #f0f0f0;
  padding-left: 0;
  padding-right: 0;
}

section[data-section-name="buscar"] .categoria.residencial h3{
background-color: #00b5ad;
color: #FFF;
padding: 10px 0;
}

section[data-section-name="buscar"] .categoria.industrial h3{
background-color: #00b4ee;
color: #FFF;
padding: 10px 0;
}

section[data-section-name="buscar"] .categoria.autotransporte h3{
background-color: #92c100;
color: #FFF;
padding: 10px 0;
}

.merik-txt-l, .merik-txt-r{
    line-height: 2em;
    font-weight: 300;
}

.merik-txt-l ul , .merik-txt-r ul{
    list-style: none;
}

.merik-txt-l ul li , .merik-txt-r ul li{
  font-weight: bold;
}

.merik-txt-l,
.merik-txt-r{
  text-align: center;
  padding: 0 40px 1em;
}

@media (min-width: 768px){

.merik-txt-l, .merik-txt-r{
    line-height: 2em;
    font-weight: 100;
}

.merik-txt-l{
    text-align: right;
    padding-right: 40px;
    -webkit-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}
 .merik-txt-r{
    text-align: left;
    padding-left: 40px;
    -webkit-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}
}

section[data-section-name="merik"] h1,
section[data-section-name="news"] h2,
body.home footer h2{
  
}


section[data-section-name="merik"] h1,
section[data-section-name="quienesSomos"] h1,
section[data-section-name="ida"] h1{
  text-align: center;
    color: #085f70;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50% 90px;
    padding-bottom: 50px;
    -webkit-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    font-family: 'Museo-300';
    font-size: 2.1em;
}



section[data-section-name="contacto"] h1,
section[data-section-name="noticias"] h1{
  background-image: none;
  margin-top: 60px;
  color: #085f70;
  padding-bottom: 50px;
}

section[data-section-name="distribuidores"] h1,
section[data-section-name="sucursales"] h1{
  background-image: none;
  margin-top: 90px;
  color: #085f70;
  padding-bottom: 20px;
}

@media (min-width: 768px){
section[data-section-name="distribuidores"] h1,
section[data-section-name="sucursales"] h1{
  margin-top: 40px;
}  

section[data-section-name="distribuidores"] h1{
  padding-bottom: 0;
}

section[data-section-name="distribuidores"] p.text-center{
  margin-bottom: 40px;
}

}

@media (min-width: 992px) and (max-width: 1386px){
  section[data-section-name="distribuidores"] h1, 
  section[data-section-name="sucursales"] h1{
    margin-top: 20px;
  }

  section[data-section-name="contacto"] h1, 
  section[data-section-name="noticias"] h1{
    margin-top: 20px;
  }
}

section[data-section-name="contacto"] h2{
  font-family: 'HelveticaNeue';
  font-weight: 100;
  text-transform: inherit;
  font-size: 2.5em;
}

section[data-section-name="buscar"] h1{
  text-align: center;
    color: #085f70;
    background-repeat: no-repeat;
    background-position: 50% 90px;
    padding-bottom: 10px;
    -webkit-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    font-family: 'Museo-300';
    font-size: 2.1em;
}

section[data-section-name="buscar"] h3 span{
  font-family: 'Museo-500';
}

section[data-section-name="news"] h2{
    background-color: transparent;
    color: #085F70;
    padding: 0.9em 0 2em;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

section[data-section-name="redesSociales"] h3{
    background-color: #085F70;
    color: #FFF;
    padding: 0.9em 0 0.9em;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

@media (min-width: 992px) and (max-width: 1382px){
  section[data-section-name="merik"]{
    padding-top: 160px;
  }
  section[data-section-name="news"]{
    background-color: #FFF;
    padding-top: 160px;
}

section[data-section-name="merik"] h1{
  padding-bottom: 100px;
  background-image: url(../img/detail-up.png);
  background-position: 50% 70px;
}

section[data-section-name="merik"] h1, section[data-section-name="news"] h2{
  margin-top: 40px;
}

section[data-section-name="merik"] .detalle, section[data-section-name="quienesSomos"] .detalle, section[data-section-name="ida"] .detalle{
  margin-top: 0px;
}
}

/*section[data-section-name="merik"],
section[data-section-name="merik"] div.fp-tableCell,
section[data-section-name="news"],
section[data-section-name="news"] div.fp-tableCell,
section[data-section-name="footer"],
section[data-section-name="footer"] div.fp-tableCell{
  height: auto !important;
}

@media (min-width: 768px){
section[data-section-name="merik"],
section[data-section-name="merik"] div.fp-tableCell,
section[data-section-name="news"],
section[data-section-name="news"] div.fp-tableCell,
section[data-section-name="footer"],
section[data-section-name="footer"] div.fp-tableCell{
  height: inherit ;
}
}*/

.news,
.news-search{
    background-color: transparent;
    min-height: 254px;
    text-align: center;
    /*border: 1px solid #f0f0f0;*/
    padding: 10px 10px 20px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.view-more img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
   width: 65%;
}

.productos .view-more img{

     margin: 1em auto 3em;
}



@media (max-width: 579px){
	.title2 {

 	    line-height: 30px; 
 	}

	.landingPage .logoLP img {
	    margin: 0; 
	    display: block;
	    width: 50%;
	    height: 70px;
	}

	.landingPage .title {
	    padding: 20px 20px;
	    font-size: 1.3em;
	}

}

@media (min-width: 768px) and (max-width: 991px){


.productos .col-md-offset-3 .view-more img{
  width: 100%;
}

.productos .view-more img{
     
     margin: 1em auto 1em;
     width: 50%;
}
}

@media (min-width: 992px) and (max-width: 1382px){

section .container .news:nth-last-child(1),
section .container .news:nth-last-child(2),
section .container .news:nth-last-child(3),
section .container .news:nth-last-child(4){
  display: none;
}

.banner{

}

}

.news:hover{
  background-color: transparent;
}

.news:hover .family{
  color: #085F70;
}

.visible-xs .producto{
    background-color: #ffca33;
    margin-bottom: 1em;
    display: block;
}

.visible-xs .botones ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
}

.visible-xs .botones ul li {
    float: left;
    padding: 0 2em;
}

.news img{
/*    width: 70%;*/
    margin: 0 auto;
}

    .news .family a{
        color:#ffca33;
        font-size: 1em;
        font-weight: bold;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }


    .news .producto a{
        font-family: 'Museo-300';
        font-size: 1.1em;
        color: #085F70;
        line-height: 1em;
        padding: 0 10px;
    }

.news:hover .producto a{
      color: #085F70;
    }

@media (min-width: 768px){
.news:hover{
  background-color: #085F70;
}  

.news:hover .family{
  color: #ffca33;
}

.news:hover .producto a{
      color: #FFF;
    }

.visible-xs .producto{
  display: none;
}    

}
    

section[data-section-name="footer"]{
    border-top: 4px solid #085F70;
    background-color: #f0f0f0;
    padding-top: 10px;
    position: relative;
    z-index: ;
}
@media (min-width: 768px){
  section[data-section-name="footer"]{
    padding-top: 130px;
}}

@media (min-width: 992px) and (max-width: 1381px){
  section[data-section-name="footer"]{
    padding-top: 150px;
  }
}

@media (min-width: 1382px){
 .home section[data-section-name="footer"]{
    padding-top: 190px;
  } 

  section[data-section-name="merik"]{
    padding-top: 190px;
  }
  
  section[data-section-name="news"]{
      padding-top: 190px;
    }

section[data-section-name="merik"] h1, section[data-section-name="news"] h2, body.home footer h2{
  margin-top: 40px;
}

section[data-section-name="merik"] .detalle,
section[data-section-name="quienesSomos"] .detalle,
section[data-section-name="ida"] .detalle{
    display: block;
}

section[data-section-name="merik"] h1,
section[data-section-name="quienesSomos"] h1{
  padding-bottom: 150px;
  background-image: url(../img/detail-up.png);
}

section[data-section-name="contacto"] h1,
section[data-section-name="noticias"] h1{
  margin-top: 50px;
}
}


@media (min-width: 992px) and (max-width: 1382px){
  .banner{
  height: 176px;
}

.banner.Fixed{
  height: 176px;
}

}

section[data-section-name="footer"] ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
section[data-section-name="footer"] ul li span{
  display: block;
}

section[data-section-name="footer"] ul li span.parent{
    margin-bottom: 0.5em;
}

section[data-section-name="footer"] a{
    color:#666;
    font-weight: 100;
}

section[data-section-name="footer"] span.parent,
section[data-section-name="footer"] a.parent{
    display:inline-block;
    font-family: 'Museo-500';
    font-size: 1.2em;
    color: #085F70;
}

section[data-section-name="footer"] a:hover{
  text-decoration: none;
}



section[data-section-name="footer"] ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
section[data-section-name="footer"] ul li span.parent{
    margin-bottom: 0.5em;
}

section[data-section-name="footer"] a{
    color:#666;
    font-weight: 100;
}

section[data-section-name="footer"] span.parent,
section[data-section-name="footer"] a.parent{
    display:inline-block;
    font-family: 'Museo-500';
    font-size: 1.2em;
    color: #085F70;
}

section[data-section-name="footer"] a:hover{
  text-decoration: underline;
}


footer .selectpicker{
  width: 150px;
  display: inline;
}

footer{
  text-align: center;
}

.home footer{
  margin-top: 0;
}

footer ul li{
  border-bottom: 1px solid #FFF;
  height: 3em;
  line-height: 3em;
}

footer ul li:last-child{
  border-bottom: none;
}

section[data-section-name="footer"] footer ul li a{
  display: block;
}

section[data-section-name="footer"] footer ul li span.parent{
  color: #FFF;
  background-color: #085F70;
  display: block;
  border-bottom: 1px solid #FFF;
  position: relative;
}

section[data-section-name="footer"] footer ul li a.parent{
      color: #085F70;
      background-color: transparent;
      line-height: 2em;
}

@media (min-width: 768px){
  section[data-section-name="footer"] footer ul li a.parent{
  color: #FFF;
  background-color: #085F70;
  }
}

span.parent .fa-angle-right,
span.parent .fa-angle-down{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 12px;
}

footer .generales{
  margin-bottom: 30px;
  border-bottom: 8px solid #085F70;
}

@media (min-width: 768px){
  section[data-section-name="footer"] footer .generales ul li a.parent{
      color: #085F70;
      background-color: transparent;
      line-height: 2em;
      display: block;
}
}

footer ul li span.parent{
  display: block;
  background-color: #085F70;
  color: #FFF;
}

.Residencial li.child,
.Industrial li.child,
.Autotransporte li.child{
  display: none;
}

.resize .Residencial li.child,
.resize .Industrial li.child,
.resize .Autotransporte li.child{
  display: block !important;
}

@media (min-width: 768px){
  footer{
    text-align: left;
  }
  
  footer{
    margin-top: 0%;
  }
  .productos footer{
    margin-top: 0;
  }

  footer ul li{
    border-bottom: none;
    height: inherit;
    line-height: inherit;
  }

section[data-section-name="footer"] footer ul li a{
  display: block;
}

section[data-section-name="footer"] footer ul li span.parent{
  color: #085F70;
  background-color: transparent;
  display: block;
  border-bottom: none;
  position: relative;
}

footer .generales{
  margin-bottom: inherit;
  border-bottom: none;
}

.Residencial li.child,
.Industrial li.child,
.Autotransporte li.child{
  display: block;
}

}

.chooseCountry{
  display: inline;
}

.landing .legales{
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}

.landing .legales>.container{
  border-top: 1px solid #666;
  padding-top: 30px;
  padding-bottom: 30px;
}

.legales{
    font-weight: 100;
    font-size: .8em;
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid #FFF;
    margin-top: 30px;
}

.legales{
  position: relative;
  bottom: inherit;
}

.legales a{
    color: #085F70;
    font-weight: bold;
}

@media (min-width: 768px){
  .legales{
    position: relative;
    bottom: 0;
  }

  .productos .legales{
    position: relative;
    bottom: inherit;
  }
}

section[data-section-name="productos"]{
 background-color: #f0f0f0;   
 padding-bottom: 80px;
 min-height: 740px;
 padding-top: 0px !important;
}

section[data-section-name="complementos"]{
  background-color: #085f70;
  padding: 30px 0 60px;
  position: relative;
  z-index: 8;
}

section[data-section-name="complementos"] h1{
  color: #FFF;
  margin-bottom: 40px;
}

section.complementos .complemento a{
  background-color: #FFF;
  display: block;
}

section.complementos .complemento div.link{
  height: 70px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #fff;
  font-family: 'Museo-500';
}

section.complementos .complemento img{
  display: block;
  margin: 0 auto;
  border: 15px solid #FFF;
  width: 50%;
}

@media (min-width: 768px){
  section.complementos .complemento img{
    width: auto;
  }  
}

.residencial{
  color: #00b5ad;
}

.industrial{
  color: #00b4ee;
}

.autotransporte{
  color: #92c100;
}

section[data-section-name="gracias"] h1{
  color: #085f70;
  margin-top: 120px;
  margin-bottom: 0px; 
}

section[data-section-name="gracias"] h2{
  margin-top: 0px;
  margin-bottom: 180px; 
}

section[data-section-name="privacidad"] h1,
section[data-section-name="noticia"] h1,
section[data-section-name="imagina"] h1{
  margin-top: 30px;
  margin-bottom: 50px; 
  color: #085f70;
}

section[data-section-name="privacidad"] p strong{
  font-family: 'Museo-300';
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 2.5em;
}

section[data-section-name="privacidad"] p:last-child{
  margin-bottom: 100px;
}

/* Sweep To Top */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFCA33;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-sweep-to-top:hover .img-responsive, .hvr-sweep-to-top:focus .img-responsive{
    width: 60%;
    margin-top: 15px;
}

.hvr-sweep-to-top:hover .family a, .hvr-sweep-to-top:focus .family a{
    color: #FFF;
}

.botones{
  height: auto;
  position: relative;
}

.botones span {
    display: inline-block;
    font-size: 2em;
    padding: 0 1em;
}

.botones ul{
    list-style: none;
    display: none;
    width: 100%;
    margin:0 auto 0.7em;
    float: inherit;
    padding: 0.3em 0;
    border-top: 1px solid #ffca33;
    border-bottom: 1px solid #ffca33;
    text-align: center;
    font-size: 1.3em;
    height: 44px;
    position: absolute;
}

.botones ul.visible{
  display: block;
}

.botones ul li{
  display: inline-block;
  padding: 0 .5em;
  display: inline-table;
}

.botones ul li.compartir{
  display: none;
}

.botones ul a{
  color: #ffca33;
  display: block;
  padding: 0px 5px;
  z-index: 9;
  height: 36px;
}

.botones ul li.comprar a i,
.botones ul li.folleto a i{
  display: block;
  height: 100%;
}

.fa-dollar:before, .fa-usd:before{
  display: block;
  height: 100%;
  line-height: 1.2em;
}

/*HoverProductos*/

.view {
   width: 100%;
   height: 100%;
   margin: 0;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}

.productos .view {
   min-height: 360px;
   border-top: 1px solid #CCC;
}


@media (min-width: 768px){
.productos .view {
min-height: 360px;
border-top: none;
}}
.view .mask,.view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: auto;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2.productName {
   display: block;
   position: absolute;
   width: 100%;
   z-index: 2;
   opacity: 1;
}
.view h2 {
   text-transform: uppercase;
   color: #006072;
   text-align: center;
   position: relative;
   font-size: 1.2em;
   font-family: 'Museo-500';
}
.view p {
   font-size: 1.5rem;
   position: relative;
   color: #fff;
   padding: 10px 20px 0px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   color: #FFF;
   font-weight: bold;
   font-size: 1.4em;
   margin: 15px 0 20px;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}




.view-more h2.productName {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
   background-color: transparent;
   padding: 2em 1em 0;
}

.view-more .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: #085f70;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-more p{
     
   opacity: 1;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
   color: #333;
}

@media (min-width: 768px){
.view-more h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
    background-color: #ffca33;
    color: #085f70;
    padding: 0.5em;
}

.view-more p {
  -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #FFF;
}
}
.view-more:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}

.view-more:hover h2.productName {
   opacity: 0;
}

.view-more a.info {
   opacity: 1;
   display: block;
}
@media (min-width: 768px){
 .view-more a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
} 
}

.view-more:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.view-more:hover h2,
.view-more:hover p,
.view-more:hover a.info {
   opacity: 1;
}

@media (min-width: 768px){
.view-more:hover h2,
.view-more:hover p,
.view-more:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}  
}
.view-more:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-more:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

/*IDA*/

hr.ida{
  border-bottom: 20px solid #085F70;
  margin: 50px 0;
}


/*Formulario*/

.contactForm{
  margin-bottom: 20px;
  margin-top: 40px;
}

.enviar.btn-lg.btn-block{
  color:#085F70;
  font-family: 'Museo-500';
  background-color: #ffca33;
  background-image: none;
  text-shadow: none;
  border: 0;
  margin: 20px 0;
}

.datosContacto{
  text-align: center;
  margin-bottom: 60px;
}

.datosContacto .phone,
.datosContacto .email,
.datosContacto .redesIcons{
  color: #085F70;
  font-size: 1.5em;
  width: 90%;
  margin: auto;
}



.datosContacto .redesIcons i.fa{
  font-size: 3em;
}

.datosContacto .redes{
 font-size: .8em;
}

.datosContacto .phone strong{
  display: block;
}

.container.widgets{
  padding-top: 10px;
}

.container.widgets h2{
  margin: 40px 0 50px; 
}

@media (min-width: 768px){
.datosContacto .phone,
.datosContacto .email,
.datosContacto .redesIcons{
  color: #085F70;
  font-size: 2em;
  width: inherit;
  margin: inherit;
}

.datosContacto .phone span{
  font-size: 0.8em;
}

.datosContacto .redesIcons i.fa{
  font-size: inherit;
}

.datosContacto .redes{
 font-size: 1em;  
}

.datosContacto .phone strong{
  display: block;
}
}

.redes .text{
  margin-top: 1.5em;
  font-size: 2.1em;
}


/*Noticias*/

.notas{
  text-align: center;
  margin-bottom: 2.5em;
}

.notas .nota{
  margin-bottom: 2.5em;
}

.nota{
  text-align: center;
}

.thumb img{
  margin: 0 auto 10px;
}

.nota .titulo{
  color: #085F70;
  font-family: 'Museo-500';
  font-size: 1.3em;
}

.nota .fecha{
  font-weight: 100;
}

/*Redes*/

.tabsRedes{
  margin-top: 50px;
}

.tab-content{
  padding: 1em;
}

.nav-tabs{
  background-color: #085F70;
  border-bottom: none;
}

.nav-tabs>li{
  text-align: center;
  margin-bottom: -2px;
  padding-left: 0;
  padding-right: 0;
}

.nav-tabs>li>a{
  color: #FFF;
  border-radius: 0;
  width: 100%;
  padding: 15px 0;
  display: none;
}
.nav-tabs>li>a[role="tab"]{
  display: block;
}


.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus{
  color: inherit;
  cursor: default;
  background-color: inherit;
  border: none;
}

@media (min-width: 768px){
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus{
  color: #085F70;
  cursor: default;
  background-color: #fff;
  border: none;
}  
}



.nav.nav-tabs li a:hover{
  color: #085F70;
}

.fb_iframe_widget{
    margin: auto;
    display: block !important;
    width: 280px;  
}

.col-md-4 #twitter{
  width: 280px;
  margin: auto;
}

.pinterestWDGT{
  width: 280px;
  margin: auto;
}

.col-md-4.pinterest span:first-of-type{
  margin: 0 auto;
}

iframe#twitter-widget-0{
    margin-left: auto;
    margin-right: auto;  
    display: block !important;
}

.etq_error{
  color:#FC0B0B;
  font-family: 'Museo-500';
  font-size: 1em;
}

.vbox-content td[width="70%"] .Ultra{
  color: #085F70;
  font-size: 2em !important;
  font-family: 'Museo-300';
  text-align: center;
  display: block;
}

.productoInfo{
  width: 100%;
  margin-left: 0;
  text-align: center;
  border-bottom: 1px solid #ffca33;
}

.detalleProducto{
  color: #085F70;
  font-size: 2em !important;
  font-family: 'Museo-300';
  float: inherit;
}

.folleto{
/*  float: inherit;
  margin-right: inherit;*/
}

.folleto span{
  width: auto;
  display: inline-block;
}

@media (min-width: 768px){
  .vbox-content td[width="70%"] .Ultra{
    text-align: left;
    color: #085F70;
    font-size: 2em !important;
    font-family: 'Museo-300';
    display: inline;
  }


  .productoInfo{
  width: 70%;
  margin-left: 30%;
  text-align: center;
  border-bottom: 1px solid #ffca33;
}

.detalleProducto{
  float: left;
  color: #085F70;
  font-size: 2em !important;
  font-family: 'Museo-300';
}

.folleto{
 /* float: right;
  margin-right: 40px;*/
}

.folleto span{
  width: auto;
  display: inline-block;
}
}

.vbox-content table hr{
  border-color: #ffca33;
}

.vbox-content td[width="70%"] *{
  text-align: left;
  font-size: 14px;
}

.vbox-content td[width="70%"] h3{
  color: #085F70;
}

.vbox-content td[width="70%"] font[style="font-size: 50px;"]{
  display: none;
}

/*Distribuidores*/

.buscaDistribuidor h3{
  color: #085F70;
  font-size: 1.2em;
  text-align: left;
  margin-bottom: 30px;
}

.buscaDistribuidor p strong{
  color: #666;
}

.buscaDistribuidor button{
    font-family: 'Museo-300';
    font-size: 1em;
    border-radius: 0;
    background-color: rgba(0,95,113,1);
    color: #FFF;
    border: 0;
}

.buscaDistribuidor button span{
  font-size: 1.5em;
}

.buscaDistribuidor .btnsFiltro{
  min-height: 140px;
}

@media (min-width: 768px){
.buscaDistribuidor .btnsFiltro{
  min-height: inherit;
}  
}


button.todos{
  border-bottom: #ffcc33 solid 5px;
  background-color: #ccc;
  background-image: none;
  text-shadow: none;
  color: #333;
  margin-bottom: 5px;
  height: 65px;
}

button.residencial{
  border-bottom: #00b6ae solid 5px;
  background-color: #ccc;
  background-image: none;
  text-shadow: none;
  color: #333;
  margin-bottom: 5px;
  height: 65px;
}

button.industrial{
  border-bottom: #00b5ef solid 5px;
  background-color: #ccc;
  background-image: none;
  text-shadow: none;
  color: #333;
  margin-bottom: 5px;
  height: 65px;
  
}

button.autotransporte{
  border-bottom: #93c200 solid 5px;
  background-color: #ccc;
  background-image: none;
  text-shadow: none;
  color: #333;
  margin-bottom: 5px;
  height: 65px;
  
}

button.todos:hover, button.residencial:hover, button.industrial:hover, button.autotransporte:hover,
button.todos:focus, button.residencial:focus, button.industrial:focus, button.autotransporte:focus{
  color: #FFF;
  background-color: #085F70;
  border-bottom: #CCC solid 5px;
}

.todos p{
  color: #085F70;
  text-decoration: underline;
  padding: 5px;
  font-family: 'Museo-300';
  text-transform: uppercase;
}

.mapa{
  border: 2px solid #ffca33;
  margin: 10px;
}

.recomendacion{
  font-size: .8em;
  display: block;
  float: left;
}

button.contacto,
.button.contacto{
  color: #085F70;
  font-size: 18px;
  font-family: 'Museo-500';
  background-color: #ffca33;
  margin-top: 10px;
  margin-bottom: 50px;
  background-image: none;
  text-transform: uppercase;
  text-shadow: none;
}

@media (min-width:768px){
.recomendacion{
  float: inherit;
}  

.button.contacto{
  margin-bottom: 120px;
}
}



textarea.form-control{
  height: 132px;
}

@media (min-width: 990px){

.captcha-label{
  display: block;
}

.captcha-img{
  float: left;
}

.captcha-input{
  float: right;
  max-width: 150px;
}
}

@media (min-width: 990px){
 .captcha-input{
  max-width: 200px;
} 
}

.ubicacion{
  margin-bottom: 10px;
}

/*Search*/

#campo_buscar{
  position: relative;
  right: inherit;
  display: inline-block;
}


#boton_buscar{
  position: relative;
  right: inherit;
  top: inherit;
}

@media (min-width: 768px){
  #campo_buscar{
  position: absolute;
  right: 24px;
  display: none;
}

#boton_buscar{
  position: absolute;
  right: 0;
  top: 4px;
}
}


#campo_buscar_mini{
    color: #000;
    height: 30px;
    position: absolute !important;
    right: 20px;
    top: 24px;
}


.contenedorproductos{
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}

@media (min-width: 768px){
.contenedorproductos{
  position: relative;
  margin-left: inherit;
  margin-right: inherit;
}  
}

.contenedorproductos aside{
  top: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.contenedorproductos aside.slideAsideOut{
  left: -700px;
}

.contenedorproductos aside.slideAside{
  left: 0;
}


.copy{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: rgba(0,95,113,.6);
    border-top: solid #ffcc33 3px;
}

.copy .title{
  font-size: 1.2em;
  font-family: 'Museo-500';
  color: #FFF;
  margin-top: 35px;
  padding: 0 0.2em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.copy .copytext{
  color: #FFF;
  font-size: 1.5em;
  font-family: 'Museo-300';
  padding-left: 50px;
  padding-right: 50px;
}


.stickit {
  margin-left: 660px;
  position: fixed;
  top: 0;
}

.stickit-end {
  bottom: 40px;
  position: absolute;

}

.combo{
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px){
  .combo{
  padding-left: 5px;
  padding-right: 5px;
  }
}

@media (min-width: 768px){

.copy{
      position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: rgba(0,95,113,.6);
    border-top: solid #ffcc33 3px;
}

.copy .copytext{
  color: #FFF;
  font-size: 1.5em;
  font-family: 'Museo-300';
  padding-left: 50px;
  padding-right: 50px;
}

.copy .title{
  font-size: 1.5em;
  font-family: 'Museo-500';
  color: #FFF;
  margin-top: 35px;
}

.stickit {
  margin-left: 660px;
  position: fixed;
  top: 0;
}

.stickit-end {
  bottom: 40px;
  position: absolute;

}  
}

@media (min-width: 990px){
  .copy .title{
  font-size: 2.1em;
  font-family: 'Museo-500';
  color: #FFF;
  margin-top: 35px;
}
}

#cms_bar {
    height:500px;
    width:100px;
    background-color:red;
    position:absolute;
    left:-100px;
    top:0;
}

.folleto a{
  display: none;
}
.folleto a[href$='pdf']{
  display: block;
}

.navbar-default .navbar-nav>.open>a{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-nav>.active>a{
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: none;
  color: inherit;
}

.landing hr{
  margin: 50px 0;
  border-top: 1px solid #666;
}

@media (min-width: 768px){
.navbar-default .navbar-nav>.active>a{
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 4px #ffcc33 solid;
  color: #FFF;
}  
}

/*Noticias*/

div.gv_galleryWrap{
  width: 100% !important;
}

.gv_gallery{
  margin: auto;
}

@media (min-width: 768px){
  div.gv_galleryWrap{
    width: 570px;
    margin: 0 auto 20px;
  }

}

/*Overlay*/

.vbox-inline table td{
  width: 100%;
  display: block;
}

.vbox-inline table td[align="center"]{
  width: 100%
}

.vbox-inline table td[align="left"]{
  width: 100%
}

@media (min-width: 768px){
  .vbox-inline table td{
  width: inherit;
  display: table-cell;
}

.vbox-inline table td[align="center"]{
  width: 30%
}

.vbox-inline table td[align="left"]{
  width: 70%
}
}

.vbox-next,
.vbox-prev{
  z-index: 9;
}

.o-content{

}

.o-content .vbox-content{

}

.swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

/*Checkbox*/

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}


.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}


.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}


.alianza-row{
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 4px solid #085F70;
}

.alianza-row img{
  display: block;
  margin: 0 auto;
}

.alianza-row:last-child{
  border-bottom: none;
}

.boton.btn{
  background-color: #085F70;
  color: #FFF;
}

.mx-distribuidor{
  display: none;
}

.mx-distribuidor.show{
  display: inline !important;
}

a[data-readmore-toggle]{
  background-color: #085F70;
  color: #FFF;
  padding:5px 20px;
  font-size:1em;
  line-height:1.5;
  border-radius:3px;
  text-align: center;
  margin-top: 10px;
  float: right;
  width: auto;
}

a[data-readmore-toggle]:hover{
  text-decoration: none;
}

article + [data-readmore-toggle], article[data-readmore]{
  width: auto !important;
}

/*mapas*/

.Dammap{
  width: 325px;
}

.Damdatos{
  float: left;
  width: 180px;
}

@media (min-width: 768px){

.Damdatos{
  float: left;
  width: 220px;
}  
}

.DamLogo{
  margin: 20px 10px;
  float: left;
}

.DamLogo img{
  width: 50px;
  height: 50px;
}

@media (min-width: 768px){
.DamLogo img{
  width: 80px;
  height: 80px;
}  
}

.DamEmpresa{
  font-weight: bold;
  color: rgba(0,95,113,1);
}

.DamContacto img{
  margin-top: 10px;
}

.DamContacto a{
  margin-top: 10px;
  background-color: #ffca33;
  color: #085F70;
  padding: 10px 20px;
  font-weight: bold;
}

.DamContacto img,
.DamContacto a{
  float: left;
}


.formularioBolsa label{
  margin-top: 15px;
}

.formularioBolsa .checkbox label{
  margin-top: 5px;
}

.imghover{
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

.visible-xs .botones ul{
  
}  

@media (min-width: 768px){

.imghover{
 /* position: absolute;*/
}

}

  .contenidoHover { padding:0px 0px 10px 0px;top: 0; bottom:0; width:100%; position: absolute;}
  /*.contenidoHover:hover{background-color: #085F70; }*/
  .contenidoHover, .contenidoHover h3{ color:#fff; }
  .contenidoHover h3{ margin:0 0 10px 0; padding:0; }
  .contenidoHover p{ margin: 10px 0 10px 0 }
  .contenidoHover a.mybutton { display:block; float:left; padding:5px 10px; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
  .contenidoHover a.mybutton:hover { background:#34742d }


.contenidoHover.cambiar_hover{
  background-color: #085F70;
}

.ch_element.ch_wrapper, .ch_normal,
.ch_hover
{
  width: 100% !important;
}

.ch_hover{
  background-color: transparent  !important;
}

@media (min-width: 768px){

.ch_hover
{
  background-color: #085F70 !important;
}

}

.col-md-9.productList.col-md-offset-3 .view-more img{
width: 80%;
}
 
.productList.col-md-12 .view-more img{
width: 60%;
} 


/*Galería*/

/*! lightslider - v1.1.5 - 2015-10-31
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/ 

#galeria{
  width: 320px;
}

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
    height: 240px;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../img/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 15px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 15px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}




.ho-box{
  position: relative;
  overflow: hidden;
}
.hover-content-box{
  display: none;
}
.hover-content-box, .hover-content-copy-txt, .hover-content-box-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.hover-content-copy-txt{
  z-index: 2;
  overflow: auto;
  color: #fff;
}
.hover-content-box-overlay{
  background: #000;
  opacity: 0.75;
  z-index: 1;
}
.ho-content, .ho-push-content{
  display: none;
}
.hover-content-block{
  padding: 20px;
  line-height: 16px;
}



.demo-box3, .demo3{
  width: 220px;
  height: 220px;
}
.demo3 .hover-content-box-overlay{
  background: #000;
  opacity: 0.8;
}
.demo3 .hover-content-block{
  text-align: center;
  padding-top: 90px;
}
.demo3 .btn{
  text-decoration: none;
}

.byclopay:hover{
  background-color: #085F70;
}